<div class="container">
  <div class="login-container">
    <img src="../../../assets/logo.jpg" alt="Bank Logo" />
    <h2 class="display-4 fs-2">MELIORA WALLET</h2>
    <form>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="Username"
          required
        />
      </div>
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary p-2 w-100">Login</button>
    </form>
    <div class="register-link">
      <p>Don't have an account yet? <a routerLink="register">Create one here</a></p>
    </div>
  </div>
</div>
