body {
  background-color: #f8f9fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.register-container {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.register-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #0056b3;
}
.register-container img {
  display: block;
  margin: auto;
  width: 120px;
  margin-bottom: 10px;
}
.register-container .form-control {
  border-radius: 5px;
}
.register-container .login-link {
  text-align: center;
  margin-top: 20px;
}
